%table
  %tbody
    %tr
      - td_label_for @related_object, 'name', {guess: {order: 1}}
      - td_value_for @related_object, 'name', {guess: {order: 1}}
      - td_error_for @related_object, 'name', {guess: {order: 1}}
    - tr_input_for  @object,'name',           {tag: {placeholder: mat(@object,'name_ph')}}
    - tr_input_for  @object,'swift',          {tag: {placeholder: mat(@object,'swift_ph')}}
