%tbody
  %tr
    - td_label_for @related_object, 'name'
    - td_value_for @related_object, 'name'
    - td_error_for @related_object, 'name'
  - tr_input_for @object,  'name',    {style: 'ui-state-default focus'}
