%tbody
  - tr_show_for @object,        'id'
  - tr_show_for @related_object,'name'
  - tr_show_for @object,        'name'
  - tr_show_for @object,        'created_at'
  - tr_show_for @object,        'updated_at'
