%tbody{id: 'tabs-freights',data: {title: mat(@object,'tabs_freights')}}
  %tr
    %td
      %table
        - if grns
          %tbody{class: 'inner'}
            - tr_header_for mat(@object,'table_header_grn'),{tr: {data:{mark: 'scroll'}}}
            - data = Wstm::Grn.where(:id.in => grns).sum_freights_grn; data.sort.each_with_index do |s,i|
              - o = @object.freights.new
              %tr
                %td{class: 'hidden'}
                  - input_for o, 'id_stats',  {guess: {nested: 'doc_inv',index: i},tag: {value: s[1][1]}}
                  - input_for o, 'name',      {guess: {nested: 'doc_inv',index: i},tag: {value: s[1][0]}}
                  - input_for o, 'um',        {guess: {nested: 'doc_inv',index: i},tag: {value: 'kg'}}
                  - input_for o, 'pu',        {guess: {nested: 'doc_inv',index: i},tag: {value: s[1][2]}}
                  - input_for o, 'qu',        {guess: {nested: 'doc_inv',index: i},tag: {value: s[1][3]}}
                - td_value_for o, 'name',     {tag: {class: 'strip',value: s[1][0]}}
                - td_value_for o, 'um',       {tag: {class: 'strip ta-ce',value: 'kg'}}
                - td_value_for o, 'pu',       {tag: {class: 'strip ta-ri',value: s[1][2]}}
                - td_value_for o, 'qu',       {tag: {class: 'strip ta-ri',value: s[1][3]}}
                - td_value_for o, 'val',      {tag: {class: 'strip ta-ri',value: s[1][4]}}
            %tr
              - td_value_for @object, 'total', {td: {colspan: 3},tag: {class: 'strip',value: 'Total'}}
              - td_value_for @object, 'sum',   {tag: {class: 'strip',value:  "%.2f" % data.values.sum{|r| r[3]}}}
              %td
                - value_for @object, 'sum_100',{tag: {class: 'strip',value:  "%.2f" % data.values.sum{|r| r[4]}}}
                - input_for @object, 'sum_100',{tag: {type: 'hidden',value: data.values.sum{|r| r[4]}}}
        -else
          %tbody{class: 'inner'}
            - tr_header_for mat(@object,'table_header'),{tr: {data:{mark: 'scroll'}}}
            - data = Wstm::DeliveryNote.where(:id.in => dlns).sum_freights_inv; data.sort.each_with_index do |s,i|
              - o = @object.freights.new
              %tr
                %td{class: 'hidden'}
                  - input_for o, 'id_stats',  {guess: {nested: 'doc_inv',index: i},tag: {value: s[1][1]}}
                  - input_for o, 'name',      {guess: {nested: 'doc_inv',index: i},tag: {value: s[1][0]}}
                  - input_for o, 'um',        {guess: {nested: 'doc_inv',index: i},tag: {value: 'kg'}}
                  - input_for o, 'qu',        {guess: {nested: 'doc_inv',index: i},tag: {value: s[1][2]}}
                - td_value_for o, 'name',     {tag: {class: 'strip',value: s[1][0]}}
                - td_value_for o, 'um',       {tag: {class: 'strip ta-ce',value: 'kg'}}
                - td_value_for o, 'qu',       {tag: {class: 'strip ta-ri',value: s[1][2]}}
                - td_value_for o, 'val',      {tag: {class: 'strip ta-ri',value: s[1][3]}}
                %td
                  - if s[1][4] == 0.0
                    - input_for o,  'pu',     {guess: {nested: 'doc_inv',index: i},tag: {class: 'strip ta-ri',style: 'box-sizing:border-box',size: 8,value: '0.0000'}}
                  -else
                    - value_for o,  'pu',     {tag: {class: 'strip',value: "%.4f" % s[1][4]}}
                    - input_for o,  'pu',     {guess: {nested: 'doc_inv',index: i},value: s[1][4],tag: {type: 'hidden'}}
                - td_value_for o, 'val_inv',  {tag: {class: 'strip ta-ri',value: s[1][5]}}
            %tr
              - td_value_for @object, 'total',  {td: {colspan: 2},tag: {class: 'strip',value: 'Total'}}
              - td_value_for @object, 'total',  {tag: {class: 'strip',value: "%.2f" % data.values.sum{|r| r[2]}}}
              - td_value_for @object, 'total',  {tag: {class: 'strip',value: "%.2f" % data.values.sum{|r| r[3]}}}
              %td
              %td
                - value_for @object, 'sum_100', {tag: {class: 'strip',value: "%.2f" % data.values.sum{|r| r[5]}}}
                - input_for @object, 'sum_100', {tag: {type: 'hidden',value: data.values.sum{|r| r[5]}}}
%tbody{id: 'tabs-payments',data: {title: mat(@object,'tabs_payments')}}
  %tr{class: 'pdb-05'}
    %td
      - label_for @object, 'payed'
      %input.true_ro{ type: 'radio',name: "[#{@path}][payed]",checked:  @object.payed,value: 'true'}
      %input.false_ro{type: 'radio',name: "[#{@path}][payed]",checked: !@object.payed,value: 'false'}
      %span= mat(@object,'deadl')
      - input_for @object, 'deadl', {tag: {class: 'ui-state-default ta-ce',value: (Date.today + 30.days).to_s}}
  - o = @object.pyms.new
  %tr
    %td
      - input_for o, 'id_date',     {guess: {nested: 'doc_inv',index: 0},tag: {value: 'strip',placeholder: Date.today.to_s,class: 'ui-state-default ta-ce'}}
      - input_for o, 'expl',        {guess: {nested: 'doc_inv',index: 0},tag: {value: 'strip',placeholder: mat(@object,'pyms_expl')}}
      - input_for o, 'val',         {guess: {nested: 'doc_inv',index: 0},tag: {value: 'strip',placeholder: mat(@object,'pyms_val'),class: 'ui-state-default ta-ce'}}
      - input_for o, 'id_intern',   {guess: {nested: 'doc_inv',index: 0},tag: {value: 'true',type: 'hidden'}}
