- @object.reload
- if @object.freights.count > 0
  %tbody{id: 'tabs-freights',data: {title: mat(@object,'tabs_freights')}}
    %tr
      %td
        %table
          %tbody{class:'inner'}
            - tr_header_for mat(@object,'table_header_show'),{tr: {data:{mark: 'scroll'}}}
            - @object.reload; @object.freights.each do |o|
              %tr
                - td_value_for  o, 'name', {tag: {class: 'strip'}}
                - td_value_for  o, 'um',   {tag: {class: 'strip ta-ce'}}
                - td_value_for  o, 'qu',   {tag: {class: 'strip ta-ri'}}
                - if @object.id_intern
                  - td_value_for o,  'pu', {tag: {class: 'strip ta-ri',value: "%.2f" % o.pu}}
                - else
                  - td_value_for o,'pu',   {tag: {class: 'strip ta-ri',value: "%.4f" % o.pu}}
                - td_value_for o,  'val',  {tag: {class: 'strip ta-ri',value: "%.2f" % (o.qu * o.pu).round(2)}}
            %tr
              - td_value_for @object,'xxx',{td: {colspan: 4},tag: {class:  'strip ta-ce',value: 'Total'}}
              - td_value_for @object,'xxx',{tag: {class: 'strip ta-ce',value: "%.2f" % @object.sum_100}}
  %tbody{id: 'tabs-payments',data: {title: mat(@object,'tabs_payments')}}
    %tr
      %td
        - label_for @object, 'payed'
        - value_for @object, 'payed'
        &nbsp;| &nbsp;
        - label_for @object, 'deadl'
        - value_for @object, 'deadl'
    - if @object.pyms.count > 0
      - @object.pyms.each do |o|
        %tr
          %td
            - value_for o, 'id_date'
            &nbsp;| &nbsp;
            - value_for o, 'expl'
            &nbsp;| &nbsp;
            - value_for o, 'val'
    - else
      %tr{class: 'pdt-05'}
        - td_detail_for 'detail w-45rem',t('msg.no_payments')
- else
  %tbody
    %tr.pdb-05
      %td
        - td_detail_for 'warning w-45rem',t('msg.no_freight_selected'),'info'
