%span#hidden_data{data: {dialog: "repair",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_invoice'}}
%form{action: "/sys/#{@path}", method: "get"}
  %table
    %thead
      - if @current_user.unit_id
        %tr.pdb-05
          - td_detail_for 'detail w-40rem ta-ju',t('intro.repair.desk_invoice')
          %td
            %input#date_send{type: 'hidden', value: Date.today.to_s}
      - else
        %tr.pdb-05
          %td
            %span= mat(@object,'day')
            %input#date_show.ui-state-default{type: 'text',value: l(Date.today,format: :trst)}
            %input#date_send{type: 'hidden', value: Date.today.to_s}
    %tbody
      %tr.pdb-05
        %td
          %input.repair{type: 'hidden',style: 'width:410px',data: {search: 'Wstm::Invoice',ph: '2'}}
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['cancel']
