:ruby
  grns = @object.dlns.empty?
  tdat = grns ? mat(@object,'model_name_grn') : mat(@object,'model_name')
- xhr_hidden_data({dialog: "show",title_data: tdat,oid: @object.id,js_ext: 'desk_invoice'})
%form{action: "/sys/#{@path}", method: "get"}
  %table
    %thead
      %tr{class: 'pdb-05'}
        %td
          - if grns
            - detail_for 'info w-40rem ta-ju', t('intro.show.desk_invoice.grn',doc_name: @object.doc_name,id_date: l(@object.id_date,format: :trst),client: @object.client.name[2])
          - else
            - detail_for 'info w-40rem ta-ju', t('intro.show.desk_invoice.main',doc_name: @object.doc_name,id_date: l(@object.id_date,format: :trst),client: @object.client.name[2])
    = haml :"#{@path}/_show"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['print','delete','cancel']
