%tbody.inner
  %tr
    - mat(@object,'table_header').each do |label|
      %td= label
  - if @object.freights.empty?
    - for i in 0..4 do; o = @object.freights.new
      %tr.freight
        %td
          %select.wstm.freight{class: i == 0 && 'focus'}
            %option{value: 'null',data: {id_stats: 'null',um: 'kg',pu: 0,p03: 'null'}} Selectare material
            - freights.each do |f|
              %option{value: f[0], data: f[2]}= f[1]
          - input_for   o, 'id_date',   {type: 'hidden',nested: 'doc_exp',value: 'strip',index: i}
          - input_for   o, 'id_stats',  {type: 'hidden',nested: 'doc_exp',value: 'strip',index: i}
          - input_for   o, 'freight_id',{type: 'hidden',nested: 'doc_exp',value: 'strip',index: i}
        %td.w-4rem.ta-ce
          - input_for   o, 'um',        {style: 'um w-2rem ta-ce',nested: 'doc_exp',index: i}
        %td.w-6rem.ta-ce
          - input_for   o, 'pu',        {style: 'pu w-4rem ta-ri',nested: 'doc_exp',index: i}
        %td.w-8rem.ta-ce
          - input_for  o,  'qu',        {style: 'qu w-6rem ta-ri',nested: 'doc_exp',index: i}
        %td.ta-ri
          %span.val 0.00
          - input_for   o, 'val', {type: 'hidden',nested: 'doc_exp',index: i}
        %td.ta-ri
          %span.p03 0.00
        %td.ta-ri
          %span.p16 0.00
        %td.ta-ri
          %span.res 0.00
        %td.ta-ce
          %span.fa.fa-minus-circle.red{title: t('button.delete')}
    %tr.total
      %td{colspan: '4'}
        %span Total
      %td
        %span.val 0.00
        - input_for @object, 'sum_100',  {type: 'hidden'}
      %td
        %span.p03 0.00
        - input_for @object, 'sum_003',  {type: 'hidden'}
      %td
        %span.p16 0.00
        - input_for @object, 'sum_016',  {type: 'hidden'}
      %td
        %span.res 0.00
        - input_for @object, 'sum_out',  {type: 'hidden'}
      %td
        %span &nbsp;
  - else
    %tr.pdb-05
      %td{colspan: '9'}
        %span.warning Editing not allowed!
