%table{data: {mark: 'scroll'},style: 'margin-top:.5rem'}
  %tbody{class: 'inner'}
    - o = @object.freights.new
    %tr{class: 'template',data: {mark: 'related'}}
      %td{class: 'hidden'}
        - input_for   o, 'freight_id',  {guess: {nested: 'doc_exp',index: 0},tag: {data: {val: 'freight_id'},type: 'hidden',value: 'strip'}}
        - input_for   o, 'id_date',     {guess: {nested: 'doc_exp',index: 0},tag: {data: {val: 'id_date'},type: 'hidden',value: 'strip'}}
        - input_for   o, 'id_stats',    {guess: {nested: 'doc_exp',index: 0},tag: {data: {val: 'id_stats'},type: 'hidden',value: 'strip'}}
        - input_for   o, 'id_intern',   {guess: {nested: 'doc_exp',index: 0},tag: {data: {val: 'id_intern'},type: 'hidden',value: 'true'}}
        - input_for   o, 'qu',          {guess: {nested: 'doc_exp',index: 0},tag: {data: {val: 'qu'},type: 'hidden',value: 'strip'}}
        - input_for   o, 'pu',          {guess: {nested: 'doc_exp',index: 0},tag: {data: {val: 'pu'},type: 'hidden',value: 'strip'}}
        - input_for   o, 'val',         {guess: {nested: 'doc_exp',index: 0},tag: {data: {val: 'val'},type: 'hidden',value: 'strip'}}
      - td_value_for  o, 'ord',         {tag: {data: {val: 'ord'},class: 'strip',value: 'Nr.'}}
      - td_value_for  o, 'name',        {tag: {data: {val: 'name'},class: 'strip',value: 'Material'}}
      - td_value_for  o, 'um',          {tag: {data: {val: 'um'},class: 'strip ta-ce',value: 'strip'}}
      - td_value_for  o, 'pu',          {tag: {data: {val: 'pu'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, 'qu',          {tag: {data: {val: 'qu'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, 'val',         {tag: {data: {val: 'val'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, '_03',         {tag: {data: {val: '_03'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, '_16',         {tag: {data: {val: '_16'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, 'out',         {tag: {data: {val: 'out'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, 'button',      {tag: {class: 'strip button fa fa-minus-circle red pointer',value: 'strip'}}

    - tr_header_for mat(@object,'table_header'),{tr: {data:{mark: 'scroll related-header'}}}

    %tr{data: {mark: 'related-total'}}
      %td{class: 'hidden'}
        - input_for @object, 'sum_100', {tag: {data: {val: 'sum-100'},type: 'hidden',value: 'strip'}}
        - input_for @object, 'sum_003', {tag: {data: {val: 'sum-003'},type: 'hidden',value: 'strip'}}
        - input_for @object, 'sum_016', {tag: {data: {val: 'sum-016'},type: 'hidden',value: 'strip'}}
        - input_for @object, 'sum_out', {tag: {data: {val: 'sum-out'},type: 'hidden',value: 'strip'}}
      - td_value_for @object, 'total',  {td: {colspan: 5},tag: {class: 'strip',value: 'Total'}}
      - td_value_for @object, 'sum-100',{tag: {data: {val: 'sum-100'},class: 'strip',value: 'strip'}}
      - td_value_for @object, 'sum-003',{tag: {data: {val: 'sum-003'},class: 'strip',value: 'strip'}}
      - td_value_for @object, 'sum-016',{tag: {data: {val: 'sum-016'},class: 'strip',value: 'strip'}}
      - td_value_for @object, 'sum-out',{tag: {data: {val: 'sum-out'},class: 'strip',value: 'strip'}}
      - td_value_for @object, 'button', {tag: {class: 'strip',value: 'strip'}}
