%tbody.inner
  %tr
    - mat(@object,'table_header').each do |label|
      %td.ce= label
  - if @object.freights.empty?
    - for i in 0..4 do; o = @object.freights.new
      %tr.freight
        %td
          %select.wstm.freight{class: i == 0 && 'focus'}
            %option{value: 'null'} Selectare material
            - freights.asc(:name).each do |f|
              %option{value: f.id, selected: f.id == o.freight_id, data: {id_stats: f.id_stats,um: f.um,pu: f.pu,p03: f.p03.to_s}}= f.name
          - input_for   o, 'id_date',   {type: 'hidden',nested: 'doc_exp',value: 'strip',index: i}
          - input_for   o, 'id_stats',  {type: 'hidden',nested: 'doc_exp',value: 'strip',index: i}
          - input_for   o, 'freight_id',{type: 'hidden',nested: 'doc_exp',value: 'strip',index: i}
        - td_input_for  o, 'um',        {style: ' um',nested: 'doc_exp',index: i}
        - td_input_for  o, 'pu',        {style: ' pu',nested: 'doc_exp',index: i}
        - td_input_for  o, 'qu',        {style: ' qu',nested: 'doc_exp',index: i}
        %td
          %span.val 0.00
          - input_for   o, 'val', {type: 'hidden',nested: 'doc_exp',index: i}
        %td
          %span.p03 0.00
        %td
          %span.p16 0.00
        %td
          %span.res 0.00
        %td
          %span.row-remove.icon-remove-sign{title: t('button.delete')}
    %tr.total
      %td.ce.st{colspan: '4'}
        %span Total
      %td
        %span.val 0.00
        - input_for @object, 'sum_100',   {type: 'hidden'}
      %td
        %span.p03 0.00
        - input_for @object, 'sum_003',   {type: 'hidden'}
      %td
        %span.p16 0.00
        - input_for @object, 'sum_016',   {type: 'hidden'}
      %td
        %span.res 0.00
        - input_for @object, 'sum_out',   {type: 'hidden'}
      %td
        %span &nbsp;
  - else
    %tr
      %td{colspan: '9'}
        %span.warning Editing not allowed!
