- if @object.freights.count > 0
  %table{class: 'w-100pr',ta: {mark: 'scroll'}}
    %tbody{class: 'inner'}
      - tr_header_for (mat(@object,'table_header')[1..-2]),{tr: {data:{mark: 'scroll'}}}
      - @object.reload; @object.freights.each do |o|
        %tr
          - td_value_for o, 'freight',{guess: {nested: 'doc_exp',order: 'name'}, tag: {class: 'strip'}}
          - td_value_for o, 'um',     {guess: {nested: 'doc_exp'}, tag: {class: 'strip ta-ce'}}
          - td_value_for o, 'pu',     {guess: {nested: 'doc_exp'}, tag: {class: 'strip ta-ri'}}
          - td_value_for o, 'qu',     {guess: {nested: 'doc_exp'}, tag: {class: 'strip ta-ri'}}
          - td_value_for o, 'val',    {guess: {nested: 'doc_exp'}, tag: {class: 'strip ta-ri'}}
          - td_value_for o, 'p03',    {guess: {nested: 'doc_exp'}, tag: {class: 'strip ta-ri'}}
          - td_value_for o, 'p16',    {guess: {nested: 'doc_exp'}, tag: {class: 'strip ta-ri'}}
          - td_value_for o, 'out',    {guess: {nested: 'doc_exp'}, tag: {class: 'strip ta-ri'}}
      %tr
        - td_value_for @object, 'total',  {td: {colspan: 4},tag: {class: 'strip',value: 'TOTAL'}}
        - td_value_for @object, 'sum_100',{tag: {class: 'strip'}}
        - td_value_for @object, 'sum_003',{tag: {class: 'strip'}}
        - td_value_for @object, 'sum_016',{tag: {class: 'strip'}}
        - td_value_for @object, 'sum_out',{tag: {class: 'strip'}}
- else
  %table
    %tbody
      %tr{class: 'pdb-05'}
        - td_detail_for 'warning w-45rem',t('msg.no_freight_selected')
