- xhr_hidden_data({dialog: "delete",js_ext: 'desk_expenditure'})
- xhr_info('warning',t('intro.delete.desk_expenditure',data: model_name))
%form{action: "/sys/#{@path}",method: "delete"}
  %table
    %thead
      %tr{class: 'pdb-05'}
        - td_detail_for 'detail w-50rem ta-ju',t('intro.show.desk_expenditure',@object.client.i18n_hash.merge(enr: @object.name,eon: l(@object.id_date,format: :trst))),'error-red'
    %tbody
      %tr
        %td
          = haml :"/#{@path}/_show"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['delete','cancel']
