%span#hidden_data.hidden{data: {dialog: "show",model_name: mat(@object,'model_name'),oid: @object.id,js_ext: 'desk_expenditure'}}
%form{action: "/sys/#{@path}",method: "get"}
  %table{cellspacing: "0"}
    %thead
      %tr.pdb-05
        %td{colspan: "8"}
          %span.info.width-450= t('intro.show.desk_expenditure',@object.client.i18n_hash.merge(enr: @object.name,eon: l(@object.id_date,format: :trst)))
    = partial "#{@path}/show"
    %tfoot
      %tr
        - if @object.freights.count == 0
          - td_buttonset(['delete'],{style: 'ta-ce'},'8')
        - else
          - td_buttonset(['print','delete','cancel'],{style: 'ta-ce'},'8')
