- xhr_hidden_data({dialog: 'show',js_ext: 'desk_expenditure'})
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %thead
      %tr.pdb-05
        - td_detail_for 'detail w-50rem ta-ju',t('intro.show.desk_expenditure',@object.client.i18n_hash.merge(enr: @object.name,eon: l(@object.id_date,format: :trst)))
    %tbody
      %tr
        %td
          = haml :"#{@path}/_show"
    %tfoot
      - buttons =@object.freights.count == 0 ? ['delete'] : ['print','delete','cancel']
      - tr_buttonset(buttons,{td: {class: 'ta-ce'}})
