- xhr_hidden_data({dialog: "create",oid: "null"})
- xhr_info('info',t('intro.create.main',@object,'model_name'))
%form{action: "/sys/#{@path}",method: "post"}
  %table
    %thead
    = haml :"#{@path}/_form"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['save','cancel']
