- xhr_hidden_data({dialog: "filter",oid: "null",js_ext: "desk_partner_firm"})
- xhr_info('info',t('intro.filter.main',@object,'model_name'))
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %tbody
      %tr.pdb-05
        %td
          %input.select2{type: 'hidden',style: 'width:300px',data: {minlength: '2',ph: '0',search: @path.classify}}
    %tfoot
      - tr_buttonset(['create','show','edit','delete','cancel'],{td: {class: 'ta-ce'}})
