- xhr_hidden_data({dialog: "filter",oid: "null",js_ext: "desk_partner_firm"})
- xhr_info('info',t('intro.filter.main',@object,'model_name'))
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %tbody
      %tr{class: 'pdb-05'}
        %td
          %input{type: 'hidden',class: 'w-30rem select2',data: {minlength: '2',ph: '0',search: @path.classify}}
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['create','show','edit','delete','cancel']
