%tbody
  %tr
    - td_label_for @related_object, 'name'
    - td_value_for @related_object, 'name'
    - td_error_for @related_object, 'name'
  - tr_input_for @object,  'name',    {style: 'ui-state-default focus'}
  - tr_input_for @object,  'objct'
  - tr_input_for @object,  'start',   {type: 'string'}
  - tr_input_for @object,  'drtn'
  - tr_input_for @object,  'wrkplc'
  - tr_input_for @object,  'cor'
  - tr_input_for @object,  'wrkhrs'
  - tr_input_for @object,  'wrkprg'
  - tr_input_for @object,  'lieve'
  - tr_input_for @object,  'slry'
  - tr_input_for @object,  'pydys'
  - tr_input_for @object,  'prbtn'
  - tr_input_for @object,  'pdmss'
  - tr_input_for @object,  'prsgn'
  - tr_input_for @object,  'ccm'
