%tbody
  - tr_show_for @object,        'id'
  - tr_show_for @related_object,'name'
  - tr_show_for @object,        'name'
  - tr_show_for @object,        'objct'
  - tr_show_for @object,        'start',   {type: 'string'}
  - tr_show_for @object,        'drtn'
  - tr_show_for @object,        'wrkplc'
  - tr_show_for @object,        'cor'
  - tr_show_for @object,        'wrkhrs'
  - tr_show_for @object,        'wrkprg'
  - tr_show_for @object,        'lieve'
  - tr_show_for @object,        'slry'
  - tr_show_for @object,        'pydys'
  - tr_show_for @object,        'prbtn'
  - tr_show_for @object,        'pdmss'
  - tr_show_for @object,        'prsgn'
  - tr_show_for @object,        'ccm'
  - tr_show_for @object,        'created_at'
  - tr_show_for @object,        'updated_at'
