%span#hidden_data{data: {dialog: "filter",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_hmrs_employee'}}
%article#xhr_info.info
  %i.fa.fa-info-circle.fa-lg.blue
  = t('intro.filter.main',data: mat(@object,'model_name'))
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %tbody
      %tr.pdb-05
        %td
          %input.select2{type: 'hidden',style: 'width:300px',data: {minlength: '3',ph: '0',search: @path.classify}}
    %tfoot
      %tr
        %td.buttonset.ta-ce
          %button{:type => "button",data: {action: "create",icon: "fa fa-plus-square-o"}}=  t('button.create')
          %button{:type => "button",data: {action: "show",icon: "fa fa-file-text-o"}}= t('button.show')
          %button{:type => "button",data: {action: "edit",icon: "fa fa-floppy-o"}}= t('button.edit')
          - if @current_user.admin?
            %button{:type => "button",data: {action: "delete",icon: "fa fa-minus-square-o"}}= t('button.delete')
          %button{:type => "button",data: {action: "cancel",icon: "fa fa-ban"}}= t('button.cancel')
