%table{data: {mark: 'scroll'}}
  %tbody.inner
    - o = @object.lines.new
    %tr.template{data: {mark: 'line'}}
      %td.w-2rem.ta-ri
        - value_for o, 'order',   {tag:  {data: {val: 'ord'},class: 'strip'}}
        - input_for o, 'order',   {guess: {nested: 'cb',index: 0},tag: {data: {val: 'ord'},type: 'hidden',value: 'strip'}}
        - input_for o, 'doc',     {guess: {nested: 'cb',index: 0},tag: {data: {val: 'doc'},type: 'hidden',value: 'strip'}}
        - input_for o, 'expl',    {guess: {nested: 'cb',index: 0},tag: {data: {val: 'exp'},type: 'hidden',value: 'strip'}}
        - input_for o, 'in',      {guess: {nested: 'cb',index: 0},tag: {data: {val: 'ins'},type: 'hidden',value: 'strip'}}
        - input_for o, 'out',     {guess: {nested: 'cb',index: 0},tag: {data: {val: 'out'},type: 'hidden',value: 'strip'}}
      - td_value_for o, 'doc',    {td: {class: 'w-8rem'},tag: {data: {val: 'doc'},class: 'strip',value: 'Document'}}
      - td_value_for o, 'exp',    {td: {class: 'w-40rem'},tag: {data: {val: 'exp'},class: 'strip',value: 'Explicatii'}}
      - td_value_for o, 'ins',    {td: {class: 'w-8rem ta-ri'},tag: {data: {val: 'ins'},class: 'strip',value: 'Incasare'}}
      - td_value_for o, 'out',    {td: {class: 'w-8rem ta-ri'},tag: {data: {val: 'out'},class: 'strip',value: 'Plata'}}
      - td_value_for o, 'button', {tag: {class: 'strip button fa fa-minus-circle red pointer',value: ''}}

    - tr_header_for mat(@object,'tbl_lines_hdr'),{tr: {data:{mark: 'scroll line-header'}}}
    - unless create
      - @object.lines.asc(:order).each do |l|
        - unless l.new_record?
          %tr{data: {mark: 'line'}}
            %td.w-2rem.ta-ri
              - value_for o, 'order',   {tag:  {class: 'strip', value: "#{l.order}."}}
              - input_for o, 'id',      {guess: {nested: 'cb',index: l.order},tag: {data: {val: '_id'},type: 'hidden',value: l.id}}
              - input_for o, 'order',   {guess: {nested: 'cb',index: l.order},tag: {data: {val: 'ord'},type: 'hidden',value: l.order}}
              - input_for o, 'doc',     {guess: {nested: 'cb',index: l.order},tag: {data: {val: 'doc'},type: 'hidden',value: l.doc}}
              - input_for o, 'expl',    {guess: {nested: 'cb',index: l.order},tag: {data: {val: 'exp'},type: 'hidden',value: l.expl}}
              - input_for o, 'in',      {guess: {nested: 'cb',index: l.order},tag: {data: {val: 'ins'},type: 'hidden',value: l.in}}
              - input_for o, 'out',     {guess: {nested: 'cb',index: l.order},tag: {data: {val: 'out'},type: 'hidden',value: l.out}}
            - td_value_for o, 'doc',    {td: {class: 'w-8rem'},tag: {class: 'strip',value: l.doc}}
            - td_value_for o, 'exp',    {td: {class: 'w-40rem'},tag: {class: 'strip',value: l.expl}}
            - td_value_for o, 'ins',    {td: {class: 'w-8rem ta-ri'},tag: {class: 'strip',value: l.in}}
            - td_value_for o, 'out',    {td: {class: 'w-8rem ta-ri'},tag: {class: 'strip',value: l.out}}
            - td_value_for o, 'button', {tag: {class: 'strip button fa fa-minus-circle red pointer',value: ''}}
    %tr{data: {mark: 'line-total'}}
      - td_value_for @object, 'total',  {td: {colspan: 3},tag: {class: 'strip',value: 'TOTAL'}}
      - td_value_for @object, 'tot-in', {tag: {data: {val: 'tot-ins'},class: 'strip tot-in',value: @object.lines.sum(:in)}}
      - td_value_for @object, 'tot-out',{tag: {data: {val: 'tot-out'},class: 'strip tot-out',value: @object.lines.sum(:out)}}
      - td_value_for @object, 'button', {tag: {class: 'strip',value: ''}}
