%table{data: {mark: 'scroll'}}
  %tbody.inner
    - tr_header_for mat(@object,'tbl_lines_hdr')[0..4],{tr: {data:{mark: 'scroll line-header'}}}
    - @object.lines.asc(:order).each do |l|
      %tr{data: {mark: 'line'}}
        - td_value_for l, 'order',  {td: {class: 'w-2rem ta-ri'}, tag: {class: 'strip'}}
        - td_value_for l, 'doc',    {td: {class: 'w-8rem'}, tag: {class: 'strip'}}
        - td_value_for l, 'expl',   {td: {class: 'w-40rem'}, tag: {class: 'strip'}}
        - td_value_for l, 'in',     {td: {class: 'w-8rem ta-ri'}, tag: {class: 'strip'}}
        - td_value_for l, 'out',    {td: {class: 'w-8rem ta-ri'}, tag: {class: 'strip'}}
    %tr
      - td_value_for @object, 'total',  {td: {colspan: 3},tag: {class: 'strip',value: 'TOTAL'}}
      - td_value_for @object, 'ins',    {tag: {class: 'strip',value: @object.lines.sum(:in)}}
      - td_value_for @object, 'outs',   {tag: {class: 'strip',value: @object.lines.sum(:out)}}
