- xhr_hidden_data({dialog: "delete",js_ext: 'desk_cache_book'})
- xhr_info('warning',t('intro.delete.main',data: model_name))
%form{action: "/sys/#{@path}",method: "delete"}
  %table
    %thead
      %tr.pdb-05
        %td
          - label_for @object, 'name'
          - value_for @object, 'name'
          - label_for @object, 'id_date'
          - value_for @object, 'id_date'
      %tr.pdb-05
        %td
          - label_for @object, 'ib'
          - value_for @object, 'ib'
          - label_for @object, 'fb'
          - value_for @object, 'fb'
          - label_for @object, 'lines'
          - value_for @object, 'lines', {tag: {value: @object.lines.count}}
    %tbody
    %tfoot
      - tr_buttonset(['delete','cancel'],{td: {class: 'ta-ce'}})
