:ruby
  y = params[:p_y].nil? ? @today.year  : params[:p_y].to_i
  m = params[:p_m].nil? ? @today.month : params[:p_m].to_i
  d = params[:p_d].nil? ? @today.day   : params[:p_d].to_i
  current_month = y + m == @today.year + @today.month
  range = current_month ? (1..d) : (1..Time.days_in_month(m,y))
- xhr_hidden_data({dialog: 'filter',oid: 'null',js_ext: 'desk_cache_book'})
%table
  %thead
    %tr
      %td
        = haml :'wstm/shared/_select_params'
  %tbody
    %tr
      %td
        %table{data: {mark: 'scroll'}}
          %tbody{class: 'inner'}
            - tr_header_for mat(@object, 'tbl_filter_hdr'), {tr: {data: {mark: 'scroll'}}}
            - range.each do |day|
              - cb = @object.find_by(id_date: Date.new(y,m,day))
              %tr
                - td_value_for cb, 'id_date', {tag: {class: 'strip link',value: (cb.id_date.to_s rescue "* #{Date.new(y,m,day).to_s}"), data: {oid: (cb.id rescue 'nil'),id_date: Date.new(y,m,day).to_s}}}
                - td_value_for cb, 'ib',      {tag: {class: 'strip',value: (cb.ib rescue '-')},td: {class: 'ta-ri'}}
                - td_value_for cb, 'ins',     {tag: {class: 'strip',value: (cb.lines.sum(:in) rescue '-')},td: {class: 'ta-ri'}}
                - td_value_for cb, 'outs',    {tag: {class: 'strip',value: (cb.lines.sum(:out) rescue '-')},td: {class: 'ta-ri'}}
                - td_value_for cb, 'fb',      {tag: {class: 'strip',value: (cb.fb rescue '-')},td: {class: 'ta-ri'}}
                - td_value_for cb, 'count',   {tag: {class: 'strip',value: (cb.lines.count rescue '-')},td: {class: 'ta-ri'}}
            %tr{class: 'hidden'}
  %tfoot{class: 'ta-ce'}
    - tr_buttonset ['cancel']
