- xhr_hidden_data({dialog: 'show',js_ext: 'desk_cache_book'})
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %thead
      %tr{class: 'pdb-05'}
        %td
          - label_for @object, 'name'
          - value_for @object, 'name'
          - label_for @object, 'id_date'
          - value_for @object, 'id_date'
      %tr{class: 'pdb-05'}
        %td
          - label_for @object, 'ib'
          - value_for @object, 'ib'
          - label_for @object, 'fb'
          - value_for @object, 'fb'
          - label_for @object, 'lines'
          - value_for @object, 'lines', {tag: {value: @object.lines.count}}
    %tbody
      %tr
        %td
          = haml :"#{@path}/_show"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['print','edit','delete','cancel']
