- @object.reload
- if @object.freights.count > 0
  %table{data: {mark: 'scroll'}}
    %tbody{class: 'inner'}
      - tr_header_for mat(@object,'table_header')[0..4]
      - @object.freights.where(:qu.ne => 0).asc(:id_stats,:pu).each do |o|
        %tr
          - td_value_for  o, 'freight',{guess: {order: 'name'},tag: {class: 'strip'}}
          - td_value_for  o, 'um',     {tag: {class: 'strip ta-ce'}}
          - td_value_for  o, 'pu',     {tag: {class: 'strip ta-ri'}}
          - td_value_for  o, 'qu',     {tag: {class: 'strip ta-ri'}}
          - td_value_for  o, 'val',    {tag: {class: 'strip ta-ri'}}
      %tr{class: 'hidden'}
- else
  %table
    %tbody
      %tr{class: 'pdb-05'}
        - td_detail_for 'warning w-35rem',t('msg.no_freight_stock')
