- xhr_hidden_data({dialog: 'show',js_ext: 'desk_sorting'})
%form{action: "/sys/#{@path}", method: "get"}
  %table
    %thead
      %tr{class: 'pdb-05'}
        %td
          - label_for @object, 'name'
          - value_for @object, 'name'
          - label_for @object, 'id_date'
          %span.ta-ce.st= @object.id_date.to_s
      %tr{class: 'pdb-05'}
        %td
          - value_for @object, 'expl'
    %tbody
      %tr
        %td
          = haml :"#{@path}/_show"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['create','edit','delete','cancel']
