%span#hidden_data{data: {dialog: "show",model_name: mat(@object,'model_name'),oid: @object.id,js_ext: 'desk_stock'}}
%form{action: "/sys/#{@path}", method: "get"}
  %table
    %thead
      %tr.pdb-05
        %td
          - label_for @object, 'name'
          - value_for @object, 'name'
          - label_for @object, 'id_date'
          %span.ta-ce.st= @object.id_date.to_s
      %tr.pdb-05
        %td
          - value_for @object, 'expl'
    = partial "#{@path}/show"
    %tfoot
      %tr
        - td_buttonset(['create','edit','delete','cancel'],{style: 'ta-ce'})
