%tbody.inner.hidden
  %tr
    - mat(@object,'table_header_form').each do |label|
      %td
        %span= label
  - if @object.resl_freights.empty?
    - for i in 0..4 do; o = @object.resl_freights.new
      %tr.resl-freight
        %td.select-freight
          %select.wstm.resl-freight
            %option{value: 'null'} Selectare material
            - resl_freights.each do |f|
              %option{value: f[0], data: f[2]}= f[1]
          - input_for   o, 'freight_id',{type: 'hidden',nested: 'doc_sor',value: 'strip',index: i}
          - input_for   o, 'id_date',   {type: 'hidden',nested: 'doc_sor',value: 'strip',index: i}
          - input_for   o, 'id_stats',  {type: 'hidden',nested: 'doc_sor',value: 'strip',index: i}
          - input_for   o, 'um',        {type: 'hidden',nested: 'doc_sor',value: 'strip',index: i}
          - input_for   o, 'pu',        {type: 'hidden',nested: 'doc_sor',value: 'strip',index: i}
        %td.ce
          %span.um kg
        %td.ce
          - input_for  o, 'qu',        {style: ' qu',nested: 'doc_sor',index: i}
        %td.action-1
          %span.icon-remove-sign{title: t('button.delete')}
    %tr.total
      %td.ce.st{colspan: '2'}
        %span Total
      %td
        %span.res 0.00
      %td
        %span &nbsp;
  - else
    %tr.pdb-05
      %td{colspan: '4'}
        %detail.warning
          %i.fa.fa-info-circle.fa-lg.blue
          = 'Editing not allowed!'
