- xhr_hidden_data({dialog: "delete",js_ext: 'desk_sorting'})
- xhr_info('warning',t('intro.delete.main',data: model_name))
%form{action: "/sys/#{@path}",method: "delete"}
  %table
    %thead
      %tr.pdb-05
        - td_detail_for 'warning w-35rem',t('intro.show.desk_sorting',id_date: l(@object.id_date,format: :trst),unit: @object.unit.name[1],signed_by: @object.signed_by.name,expl: @object.expl)
    %tbody
      %tr
        %td
          = haml :"/#{@path}/_show"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['delete','cancel']
