- if params[:id_intern]
  - xhr_info('info',@current_user.admin? ? t('intro.filter.desk_grn.admin',unit: @firm.units.find_by(main: true).name[1]) : t('intro.filter.desk_grn.user',unit: @current_user.unit.name[1],slug: @current_user.unit.slug.downcase))
  = haml :"#{@path}/_filter_grn_intern"
- else
  - xhr_hidden_data({dialog: 'filter',oid: 'null',js_ext: 'desk_grn'})
  - xhr_info('info',t('intro.filter.desk_grn.partner_firm',unit: @current_user.unit_id || @firm.units.find_by(main: true).name[1]))
  = haml :"#{@path}/_filter_grn"
