%tbody
  - tr_show_for @object,        'id'
  - tr_show_for @object,        'name'
  - tr_show_for @object,        'um'
  - tr_show_for @object,        'pu'
  - tr_show_for @object,        'id_stats'
  - tr_show_for @object,        'code'
  - tr_show_for @object,        'p03'
  - tr_show_for @object,        'created_at'
  - tr_show_for @object,        'updated_at'
