%span#hidden_data.hidden{data: {dialog: "edit",title: t("edit.title",data: mat(@object,'model_name')),model: mat(@object,'model_name'),oid: @object.id,js_ext: 'desk_freight'}}
%form{action: "/sys/#{@path}", method: "put"}
  %table{cellspacing: "0"}
    %thead
      %tr
        %th{colspan: "3"}
          - unless @current_user.admin?
            %span.info= t('edit.intro_freight')
    = partial "#{@path}/form"
    %tfoot
      %tr
        %td.buttonset.ce{colspan: "3"}
          %button{type: "button", data: {action: "save",   icon: "disk",remove: 'false'}}=         t('button.save')
          - if @current_user.admin?
            %button{type: "button", data: {action: "delete", icon: "circle-minus",remove: 'false'}}= t('button.delete')
          %button{type: "button", data: {action: "cancel", icon: "circle-close"}}= t('button.cancel')
