- xhr_hidden_data({dialog: "edit",oid: @object.id,js_ext: 'desk_freight'})
%form{action: "/sys/#{@path}",method: "put"}
  %table
    %thead
      - unless @current_user.admin?
        %tr.pdb-05
          - td_detail_for 'detail',t('intro.edit.desk_freight')
    %tbody
      %tr
        %td
          = haml :"#{@path}/_form"
    %tfoot
      - buttons = @current_user.admin? ? ['save','delete','cancel'] : ['save','cancel']
      - tr_buttonset(buttons,{td: {class: 'ta-ce'}})
