- xhr_hidden_data({dialog: "show",oid: @object.id,js_ext: 'desk_freight'})
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %thead
    %tbody
      %tr
        %td
          = haml :"#{@path}/_show"
    %tfoot{class: 'ta-ce'}
      - buttons = @current_user.admin? ? ['create','edit','delete','cancel'] : ['edit','cancel']
      - tr_buttonset buttons
