%tbody#tabs-1{data: {title: mat(@object, :tab_title)}}
  - tr_input_for @object, 'id_pn'
  - tr_input_for @object, 'name_last'
  - tr_input_for @object, 'name_frst'
  - tr_input_for @object, 'id_doc',  {order: 'type'}
  - tr_input_for @object, 'id_doc',  {order: 'sr'}
  - tr_input_for @object, 'id_doc',  {order: 'nr'}
  - tr_input_for @object, 'id_doc',  {order: 'by'}
  - tr_input_for @object, 'id_doc',  {order: 'on'}
- if @object.has_address? ; o = @object.address
  %tbody{id: "tabs-person-adress", data: {title: "#{mat(o,'model_name')} #{o.name}"}}
    - tr_input_for o,  'name',    {nested: 'address'}
    - tr_input_for o,  'city',    {nested: 'address'}
    - tr_input_for o,  'street',  {nested: 'address'}
    - tr_input_for o,  'nr',      {nested: 'address'}
    - tr_input_for o,  'bl',      {nested: 'address'}
    - tr_input_for o,  'sc',      {nested: 'address'}
    - tr_input_for o,  'ap',      {nested: 'address'}
    - tr_input_for o,  'state',   {nested: 'address'}
    - tr_input_for o,  'country', {nested: 'address'}
    - tr_input_for o,  'zip',     {nested: 'address'}
    %tr
      %td{colspan: '3'}
        %input{type: 'hidden', name: "[#{@path}][address_attributes][id]", value: o.id}
- else
  - o = @object.build_address
  %tbody{id: "tabs-person-address-new",data: {title: mat(o, 'model_name')}}
    - tr_input_for o,  'name',    {nested:  'address'}
    - tr_input_for o,  'city',    {nested:  'address'}
    - tr_input_for o,  'street',  {nested:  'address'}
    - tr_input_for o,  'nr',      {nested:  'address'}
    - tr_input_for o,  'bl',      {nested:  'address'}
    - tr_input_for o,  'sc',      {nested:  'address'}
    - tr_input_for o,  'ap',      {nested:  'address'}
    - tr_input_for o,  'state',   {nested:  'address'}
    - tr_input_for o,  'country', {nested:  'address'}
    - tr_input_for o,  'zip',     {nested:  'address'}
