%td{class: 'query-freights-container'}
  - unless sa.blank?
    %table
      %tbody{class: 'inner'}
        - tr_header_for mat(Wstm::Expenditure,'table_header')[1..-2],{tr: {data:{mark: 'scroll'}}}
        - data = sa.where(:id.in => doc_ary).sum_freights_exp; data.sort.each do |s|
          %tr
            - td_value_for  s, 'xxx', {tag: {class: 'strip',value: s[1][0]}}
            - td_value_for  s, 'xxx', {tag: {class: 'strip ta-ce',value: 'kg'}}
            - td_value_for  s, 'xxx', {tag: {class: 'strip ta-ri',value: "%.2f" % (s[1][4] / s[1][3]).round(2)}}
            - td_value_for  s, 'xxx', {tag: {class: 'strip ta-ri',value: "%.2f" % s[1][3]}}
            - td_value_for  s, 'xxx', {tag: {class: 'strip ta-ri',value: "%.2f" % s[1][4]}}
            %td
              - p003 = s[1][5] ? (s[1][4] * 0.03).round(2) : 0
              - value_for   s, 'xxx', {tag: {class: 'strip ta-ri',value: "%.2f" % p003}}
            - td_value_for  s, 'xxx', {tag: {class: 'strip ta-ri',value: "%.2f" % s[1][6]}}
            - td_value_for  s, 'xxx', {tag: {class: 'strip ta-ri',value: "%.2f" % (s[1][4] - p003 - s[1][6]).round(2)}}
        %tr
          - td_value_for @object, 'xxx', {td: {colspan: 4},tag: {class: 'strip ta-ce',value: 'Total'}}
          - td_value_for @object, 'xxx', {tag: {class: 'strip',value: "%.2f" % sa.where(:id.in => doc_ary).sum(:sum_100)}}
          - td_value_for @object, 'xxx', {tag: {class: 'strip',value: "%.2f" % sa.where(:id.in => doc_ary).sum(:sum_003)}}
          - td_value_for @object, 'xxx', {tag: {class: 'strip',value: "%.2f" % sa.where(:id.in => doc_ary).sum(:sum_016)}}
          - td_value_for @object, 'xxx', {tag: {class: 'strip',value: "%.2f" % sa.where(:id.in => doc_ary).sum(:sum_out)}}
  - else
    - detail_for 'detail w-30rem',t('intro.query.desk_partner_person.exp_noe')
