%span#hidden_data{data: {dialog: "create",model_name: mat(@object,'model_name'),oid: "null"}}
%form{action: "/sys/#{@path}",method: "post"}
  %table{:cellspacing => "0"}
    %thead
      %tr.pdb-05
        %td{colspan: "3"}
          %span.warning.width-350.ju= t('intro.create.main',data: mat(@object,'model_name'))
    = partial "#{@path}/form"
    %tfoot
      %tr
        %td.buttonset.ce{colspan: "3"}
          - if params[:id_pn]
            %button{type: "button",data: {r_path: "/sys/wstm/expenditure/create",action: "save",icon: "disk",remove: 'false'}}= t('button.save')
          - else
            %button{type: "button",data: {action: "save",icon: "disk",remove: 'false'}}= t('button.save')
          %button{type: "button",data: {action: "cancel",icon: "circle-close"}}= t('button.cancel')
