- xhr_hidden_data({dialog: "delete"})
- xhr_info('warning',t('intro.delete.main',@object,'model_name'))
%form{action: "/sys/#{@path}",method: "delete"}
  %table
    %thead
    = haml :"/#{@path}/_show"
    %tfoot
      - tr_buttonset(['delete','cancel'],{td: {class: 'ta-ce'}})

