%span#hidden_data.hidden{data: {dialog: "filter", title: t("filter.title", data: mat(@object,'model_name')), model: mat(@object,'model_name'), oid: "null", related_id: params[:related_id] || 'null'}}
%form{action: "/sys/#{@path}", method: "get"}
  %table{cellspacing: "0"}
    %tbody
      %tr
        %td
          %span.info= t("filter.intro", data: mat(@object,'model_name'))
      %tr
        %td
          %input.select2{type: 'hidden', style: 'width:300px', data: {minlength: 3,model: @path.classify}}
    %tfoot
      %tr
        %td.buttonset.ce
          %button{:type => "button", data: {action: "create", icon: "circle-plus"}}=  t('button.create')
          %button{:type => "button", data: {action: "show",   icon: "clipboard"}}=    t('button.show')
          %button{:type => "button", data: {action: "edit",   icon: "document"}}=     t('button.edit')
          %button{:type => "button", data: {action: "delete", icon: "circle-minus"}}= t('button.delete')
          %button{:type => "button", data: {action: "cancel", icon: "circle-close"}}= t('button.cancel')
