- xhr_hidden_data({dialog: "query",oid: "null",js_ext: 'desk_partner_person'})
%table
  %thead
    %tr{class: 'pdb-05'}
      %td
        %input{name: 'p_oid',type: 'hidden',class: 'w-30rem select2',data: {mark: 'param',minlength: '3',ph: '0',search: @path.classify}}
  %tbody
    %tr{class: 'pdb-05'}
      %td{class: 'query-expenditures-container'}
        = haml :"wstm/partner_person/_query_expenditures"
  %tfoot{class: 'ta-ce'}
    - tr_buttonset ['cancel']
