- if with_pu
  %tbody.inner
    %tr
      - mat(@object,'table_header_form_with_pu').each do |label|
        %td.ce= label
    - if @object.freights.empty?
      - for i in 0..4 do; o = @object.freights.new
        %tr.freight
          %td.select-freight
            %select.wstm.freight
              %option{value: 'null',data: {id_stats: 'null',um: 'kg',pu: 0,stck:0}} Selectare material
              - freights.each do |f|
                %option{value: f[0], data: f[2]}= f[1]
            - input_for   o, 'id_date',   {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
            - input_for   o, 'id_stats',  {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
            - input_for   o, 'id_intern', {type: 'hidden',nested: 'doc_dln',value: client.firm.to_s,index: i}
            - input_for   o, 'um',        {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
            - input_for   o, 'freight_id',{type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
          %td
            %span.um kg
          %td
            %span.val.puf 0.00
            - input_for   o, 'pu',        {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
            - input_for   o, 'val',       {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
          %td
            %span.val.stck 0.00
          %td.ce
            - input_for  o, 'qu',         {style: 'qu',nested: 'doc_dln',index: i}
          %td.ce
            - input_for  o, 'pu_invoice', {style: 'qu',nested: 'doc_dln',index: i}
            - input_for  o, 'val_invoice',{type: 'hidden',nested: 'doc_dln',index: i}
          %td
            %span.res 0.00
          %td.action-1
            %span.icon-remove-sign{title: t('button.delete')}
      %tr.total
        %td.ce.st{colspan: '4'}
          %span Total
        %td
          %span.res 0.00
        %td{colspan: '2'}
          %span &nbsp;
          %td.action-1
            %span.icon-plus-sign{title: t('button.new_row')}
    - else
      %tr
        %td{colspan: '8'}
          %span.warning Editing not allowed!
- else
  %tbody.inner
    %tr
      - mat(@object,'table_header_form').each do |label|
        %td.ce= label
    - if @object.freights.empty?
      - for i in 0..4 do; o = @object.freights.new
        %tr.freight
          %td.select-freight
            %select.wstm.freight
              %option{value: 'null'} Selectare material
              - freights.each do |f|
                %option{value: f[0], data: f[2]}= f[1]
            - input_for   o, 'id_date',   {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
            - input_for   o, 'id_stats',  {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
            - input_for   o, 'id_intern', {type: 'hidden',nested: 'doc_dln',value: client.firm.to_s,index: i}
            - input_for   o, 'um',        {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
            - input_for   o, 'freight_id',{type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
          %td
            %span.um kg
          %td
            %span.val.stck 0.00
          %td.ce
            - input_for  o, 'qu',        {style: ' qu',nested: 'doc_dln',index: i}
            - input_for  o, 'pu',        {type: 'hidden',nested: 'doc_dln',value: 'strip',index: i}
          %td
            %span.res 0.00
          %td.action-1
            %span.icon-remove-sign{title: t('button.delete')}
      %tr.total
        %td.ce.st{colspan: '3'}
          %span Total
        %td
          %span.res 0.00
        %td
          %span &nbsp;
          %td.action-1
            %span.icon-plus-sign{title: t('button.new_row')}
    - else
      %tr.pdb-05
        %td{colspan: '6'}
          %span.warning Editing not allowed!
