- xhr_hidden_data({dialog: "delete",js_ext: 'desk_delivery_note'})
- xhr_info('warning',t('intro.delete.desk_delivery_note',data: model_name))
%form{action: "/sys/#{@path}",method: "delete"}
  %table
    %thead
      %tr{class: 'pdb-05'}
        - td_detail_for 'detail w-50rem ta-ju',t('intro.show.desk_delivery_note',doc_name: @object.doc_name,id_date: l(@object.id_date,format: :trst),firm: @firm.name[2],firm_d: @object.signed_by.name,client: @object.client.name[2],client_d: (@object.client_d.name rescue 'Anonymous'),transp: @object.transp.name[2],transp_d: @object.transp_d.name),'error-red'
    %tbody
      %tr
        %td
          = haml :"/#{@path}/_show"
    %tfoot{class: 'ta-ce'}
      - tr_buttonset ['delete','cancel']
