:ruby
  dups = Wstm::DeliveryNote.monthly(@object.id_date.year,@object.id_date.month).where(:id.ne => @object.id,doc_name: @object.doc_name,client_id: @object.client_id)

- xhr_hidden_data({dialog: 'show',js_ext: 'desk_delivery_note'})
%form{action: "/sys/#{@path}", method: "get"}
  %table
    %thead
      - if dups.count > 0
        - dups.asc(:id_date).each do |d|
          %tr.pdb-05
            - td_detail_for'detail w-50rem ta-ju',t('intro.show.desk_delivery_note_dups',id_date: d.id_date.to_s,doc_name: d.doc_name,client: d.client.name[0]), 'warning'
      %tr.pdb-05
        - td_detail_for 'detail w-50rem ta-ju',t('intro.show.desk_delivery_note',doc_name: @object.doc_name,id_date: l(@object.id_date,format: :trst),firm: @firm.name[2],firm_d: @object.signed_by.name,client: @object.client.name[2],client_d: (@object.client_d.name rescue 'Anonymous'),transp: @object.transp.name[2],transp_d: @object.transp_d.name)
    %tbody
      %tr
        %td
          = haml :"#{@path}/_show"
    %tfoot
      - buttons =@object.freights.count == 0 ? ['delete'] : ['print','delete','cancel']
      - tr_buttonset(buttons,{td: {class: 'ta-ce'}})
