%table{data: {mark: 'scroll'},style: 'margin-top:.5rem'}
  %tbody{class: 'inner'}
    - o = @object.freights.new
    - tr_header_for mat(@object,'table_header_form'),{tr: {data:{mark: 'scroll related-header'}}}
    %tr{class: 'template',data: {mark: 'related'}}
      %td{class: 'hidden'}
        - input_for   o, 'freight_id',  {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'freight_id'},value: 'strip'}}
        - input_for   o, 'id_date',     {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'id_date'},value: 'strip'}}
        - input_for   o, 'id_stats',    {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'id_stats'},value: 'strip'}}
        - input_for   o, 'id_intern',   {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'id_intern'},value: 'strip'}}
        - input_for   o, 'qu',          {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'qu'},value: 'strip'}}
        - input_for   o, 'pu',          {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'pu'},value: 'strip'}}
        - input_for   o, 'pu_invoice',  {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'pu_invoice'},value: 'strip'}}
        - input_for   o, 'val',         {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'val'},value: 'strip'}}
        - input_for   o, 'val_invoice', {guess: {nested: 'doc_cas',index: 0},tag: {data: {val: 'val_invoice'},value: 'strip'}}
      - td_value_for  o, 'ord',         {tag: {data: {val: 'ord'},class: 'strip',value: 'Nr.'}}
      - td_value_for  o, 'name',        {tag: {data: {val: 'name'},class: 'strip',value: 'Material'}}
      - td_value_for  o, 'um',          {tag: {data: {val: 'um'},class: 'strip ta-ce',value: 'strip'}}
      - td_value_for  o, 'pu',          {tag: {data: {val: 'pu'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, 'stck',        {tag: {data: {val: 'stck'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, 'qu',          {tag: {data: {val: 'qu'},class: 'strip ta-ri',value: 'strip'}}
      - td_value_for  o, 'res',         {tag: {data: {val: 'res'},class: 'strip ta-ri',value: '0'}}
      - td_value_for  o, 'button',      {tag: {class: 'strip button fa fa-minus-circle red pointer',value: 'strip'}}
    %tr{data: {mark: 'related-total'}}
      - td_value_for @object, 'total',  {td: {colspan: 5},tag: {class: 'strip',value: 'Total'}}
      - td_value_for @object, 'tot-qu', {tag: {data: {val: 'tot-qu'},class: 'strip',value: 'strip'}}
      - td_value_for @object, 'button', {td: {colspan: 2},tag: {class: 'strip',value: 'strip'}}
