- @object.reload
- if @object.freights.count > 0
  %table
    %tbody.inner
      - tr_header_for mat(@object,'table_header_show')
      - @object.reload; @object.freights.each do |o|
        %tr
          - o.set(val: (o.pu * o.qu).round(2)) unless o.val > 0
          - td_value_for  o, 'freight',   {guess: {nested: 'doc_cas',order: 'name'},tag: {class: 'strip'}}
          - td_value_for  o, 'um',        {guess: {nested: 'doc_cas'},tag: {class: 'strip'},td: {class: 'ta-ce'}}
          - td_value_for  o, 'pu',        {guess: {nested: 'doc_cas'},tag: {class: 'strip'},td: {class: 'ta-ri'}}
          - td_value_for  o, 'qu',        {guess: {nested: 'doc_cas'},tag: {class: 'strip'},td: {class: 'ta-ri'}}
          - td_value_for  o, 'val',       {guess: {nested: 'doc_cas'},tag: {class: 'strip'},td: {class: 'ta-ri'}}
          - td_value_for  o, 'stock',     {tag: {class: 'strip',value:  o.freight.stock_by_key(o.freight.key(o.pu))},td: {class: 'ta-ri'}}
      %tr
        - td_value_for @object, 'total',  {td: {colspan: 3},tag: {class: 'strip',value: 'TOTAL'}}
        - td_value_for @object, 'tot-qu', {tag: {class: 'strip',value: @object.freights.sum(:qu)}}
        - td_value_for @object, 'tot-val',{tag: {class: 'strip',value: @object.freights.sum(:val)}}
        - td_value_for @object, 'empty',  {tag: {class: 'strip',value: 'strip'}}
- else
  %table
    %tbody
      %tr
        - td_detail_for 'warning',t('msg.no_freight_selected'),'info'
